@use '@src/sass/abstracts/variables' as *;
@use '@src/sass/abstracts/mixins' as *;
@use '@src/sass/base/typography' as *;

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

.content {
    color: $color-body-text;
    background: $color-bg;
    font-family: $ff-open-sans;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
    width: 100%;
    overflow-x: hidden;
    @include sans;

    &__main {
        display: flex;
        width: 100%;
    }

    background: rgb(255,212,219);
    background: -moz-linear-gradient(142deg, rgba(255,212,219,0.05926120448179273) 0%, rgba(98,241,201,0.03125) 100%);
    background: -webkit-linear-gradient(142deg, rgba(255,212,219,0.05926120448179273) 0%, rgba(98,241,201,0.03125) 100%);
    background: linear-gradient(142deg, rgba(255,212,219,0.05926120448179273) 0%, rgba(98,241,201,0.03125) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd4db",endColorstr="#62f1c9",GradientType=1);
}
