@use '@src/sass/abstracts/variables' as *;
@use '@src/sass/base/typography' as *;

@mixin sans($ff: $ff-open-sans, $fs: 1.6rem, $fw: 400, $lh: 1.2, $color: $color-body-text) {
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $color;
}

@mixin buttonPrimary {
    @include sans;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0.2rem solid $primary;
    border-radius: 0.6rem;

    width: 20rem;
    height: 3rem;
    margin: 2rem 0 1rem;
    background-color: lighten($primary, 30%);
    cursor: pointer;

    &:hover {
        background-color: lighten($primary, 35%);
    }
}

@mixin button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin media-laptop {
    @media (max-width: 1700px) { @content; }
}

@mixin media-tablet {
    @media (max-width: 1200px) { @content; }
}

@mixin media-mobile {
    @media (max-width: 880px) { @content; }
}

@mixin media-mobile-small {
    @media (max-width: 595px) { @content; }
}
