@use '@src/sass/abstracts/variables' as *;
@use '@src/sass/base/typography' as *;
@use '@src/sass/abstracts/mixins' as *;

.error {
    background-color: rgba(41, 41, 41, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    @include sans;

    &__message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
        height: 20rem;
        z-index: 2;
        background-color: $color-bg;
        transition: 0.3s;
        border-radius: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        @include media-mobile-small {
            width: 30rem;
        }
    }

    &__button {
        @include buttonPrimary;
    }

    &__button--yes,
    &__button--no {
        width: 40%;
    }

    &__button--yes {
        border: 0.2rem solid darken($error, 5%);
        background-color: lighten($error, 5%);

        &:hover {
            background-color: lighten($error, 8%);
        }
    }

    &__text {
        @include sans;
        padding: 0 1rem;
        margin: 1rem 0 0;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
