@use '@src/sass/abstracts/variables' as *;
@import 'nouislider/dist/nouislider.css';

.noUi-connect {
    background-color: lighten($primary, 10%);
}

.noUi-target {
    background-color: lighten($primary, 25%);
    border: none;
    border-radius: 10rem;
    box-shadow: none;
    height: 0.8rem;
    margin: 0 1.6rem;
}

.noUi-handle::after,
.noUi-handle::before {
	display: none;
}

.noUi-handle {
	box-shadow: none;
	border-radius: 100%;
	background-color: $color-bg;
	border: 0.3rem solid lighten($primary, 10%);
}

.noUi-horizontal .noUi-handle {
    width: 2.2rem;
    height: 2.2rem;
    right: -1.7rem;
    top: -0.7rem;
    cursor: pointer;
}
