@use '@src/sass/abstracts/variables' as *;
@use '@src/sass/abstracts/mixins' as *;
@use '@src/sass/base/typography' as *;

.header {
    padding: 1rem 0;
    font-family: $ff-open-sans-b;
    color: $text-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 160rem;
    width: 94%;
    border-bottom: 0.2rem solid $colorBorder;
    margin-bottom: 2rem;

    &__title {
        font-size: 2.7rem;
        line-height: 1;
        letter-spacing: 0.08rem;
        position: relative;
        color: $color-body-text;

        &::after {
            content: '';
            position: absolute;
            background-image: url('../assets/images/logo.png');
            background-position: center center;
            background-size: 75%;
            background-repeat: no-repeat;
            width: 3rem;
            height: 3rem;
            bottom: 0;
            left: 17rem;
        }
    }

    &__trolley {
        width: 4.8rem;
        height: 4.8rem;
        background-image: url('../assets/images/trolley.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }

    &__counter {
        position: absolute;
        box-sizing: border-box;
        width: 2.4rem;
        height: 2.4rem;
        background-color: darken($primary, 10%);
        border: 0.2rem solid darken($primary, 15%);
        border-radius: 50%;
        right: 0.8rem;
        bottom: 2.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
