@use '@src/sass/abstracts/variables' as *;
@use '@src/sass/base/typography' as *;
@use '@src/sass/abstracts/mixins' as *;

.main {
    display: flex;
    max-width: 160rem;
    width: 100%;
    justify-content: center;

    @include media-mobile {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    &__products {
        width: 70%;
    }

    &__filters {
        width: 30%;
    }
}
